<!DOCTYPE html>
<html>
  <head>
    <title>Todos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="nav-bar">
      <div class="nav-left">
        <a href="/#">
          <i>ECShop</i>
        </a>
      </div>
      <nav>
        <ul class="nav-items">
          <li><a>Sign Up</a></li>
          <li><a>Log In</a></li>
        </ul>
      </nav>
    </header>

    <div class="container">
      <section class="side">
        <h1>Asignee</h1>
        <ul>
          <li><a>Masuo</a></li>
          <li><a>Sazae</a></li>
        </ul>
        <h1>Asignee</h1>
        <ul>
          <li><a>Masuo</a></li>
          <li><a>Sazae</a></li>
        </ul>
      </section>    

      <section class="main">
        <h1>Task List</h1>
        <ul>
          <li><div class="task-item-body">参考: viewだけを集中して実装したい　rails g controller home top</div></li>
          <li><div class="task-item-body">参考: enumはこんなふうに書くのがかっこいい。</div></li>
        </ul>
      </section>
    </div>
  </body>
</html>
